@page "/cv"
@layout NoMenuLayout


<PageTitle>Lars Hansen CV</PageTitle>

<div class="title">
    <p>Lars Hansen</p>
</div>

<div class="card">
    <div class="card contactInfo">
        email: l.1999@hotmail.dk
    </div>

    <div class="card content">
        I like cocks
    </div>
</div>